<!DOCTYPE html>
<%#include "classlabel.h" %>
<% tfetch(QVariantMap, classLabel); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Class Label</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Dataset ID<br /><input name="classLabel[datasetId]" value="<%= classLabel["datasetId"] %>" /></label>
  </p>
  <p>
    <label>Idx<br /><input name="classLabel[idx]" value="<%= classLabel["idx"] %>" /></label>
  </p>
  <p>
    <label>Name<br /><input name="classLabel[name]" value="<%= classLabel["name"] %>" /></label>
  </p>
  <p>
    <label>Meta Info<br /><input name="classLabel[metaInfo]" value="<%= classLabel["metaInfo"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
