<%#include "containers/retagsearchcontainer.h" %>
<%#include "managedfile.h" %>
<% tfetch(RetagSearchContainer, container) %>

<h2>画像再仕分け</h2>
<h3>タグ検索</h3>
<script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    $(window).keydown(function(e){
        if (e.keyCode == 16) { // shift key
            $('img.scale').addClass('scale30');
        }
    });
    $(window).keyup(function(e){
        if (e.keyCode == 16) { // shift key
            $('img.scale').removeClass('scale30');
        }
    });

    $('img.scale').bind('contextmenu', function() {
        location.href = $(this).attr("data-href");
        return false;
    });
});

function allcheck(on) {
   var count = document.frm2.elements.length;
   for (var i=0 ; i<count ; i++) {
        if (document.frm2.elements[i].checked != null) {
            document.frm2.elements[i].checked = on;
        }
   }
   return false;
}
</script>

<form action="<%== urla("search") %>" method="get" name="frm" id="frm">
<% for (int i=0; i<3; i++) { %>
<select name="tag<%=i %>" id="tag<%=i %>">
<option value=""></option>
  <% for (auto &tg : container.groups) { %>
<optgroup label="<%= tg.name() %>">
    <% for (auto &tag : tg.tags()) {
           echo(optionTag(tag.displayName(), tag.name(), (tag.name() == container.selectedTag[i].name())));
       } %>
</optgroup>
  <% } %>
</select>
&nbsp;
<% } %>
<button type="submit">検索</button>
</form>
<br>

<form action="<%== urla("sequential", QStringList("0")) %>" method="post" name="frm2" id="frm2">
<% if (container.images.count() > 0) { %>
<hr>
<span class="weak-color">※ SHIFTキーを押しながら、マウスカーソルを画像に合わせると拡大表示されます。</span><br>
<p>
▼チェックされた画像を一括で仕分ける <button type="submit">仕分ける</button>
</p>
<% } %>

<% if (container.selectedTag[0].exists() || container.selectedTag[1].exists() || container.selectedTag[2].exists()) { %>
<div class="table">
    <div class="cell">結果 <%= container.imageCount %> 件中 <%= container.images.count() %> 件表示</div>
    <div class="cell text-right">
        <button type="button" onclick="allcheck(true);">全選択</button>
        <button type="button" onclick="allcheck(false);">全解除</button>
    </div>
</div>
<% } %>

<%== renderPartial("retag_pager"); %>

<div class="ib">
<% for (int i = 0; i < container.images.count(); ++i) {
    const auto manage = ManagedFile::fromFileName(container.images[i]); 
    const auto path = manage.path(); %>
    
    <label for="<%= QFileInfo(path).baseName() %>">
    <div class="thumb">  
    <%== imageTag(ManagedFile::fileNameToPublicPath(path), true, QSize(), manage.name(), a("width", "128") | a("title", manage.name()) | a("class", "scale") | a("data-href", urla("show", QFileInfo(path).fileName()).toString())) %><br />
    <%== checkBoxTag("images[]", QFileInfo(path).fileName(), false, a("id", QFileInfo(path).baseName())) %>
    </div>
    </label>
<% } %>
</div>
</form>
<br>
<%== renderPartial("retag_pager"); %>
<br>