
<%#include "containers/retagshowcontainer.h" %>
<%#include "tag.h" %>
<% tfetch(RetagShowContainer, container) %>

<script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/js/jquery.selectareas.js" type="text/javascript"></script>
<script src="/js/boundingbox.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  bbox = new BoundingBox('editor', 1.098, false)
  bbox.getAreas('<%= url("BoundingBox", "loadAreas", QFileInfo(container.imagePath).fileName()).toString(QUrl::FullyEncoded) %>');
});
</script>

<div style="font-size: small;"><%= container.originalName %></div>

<%== imageTag(container.imagePath, true, QSize(), container.originalName, a("height", QString::number(500) + "px") | a("id", "editor")) %>

<h3>タグ</h3>
<table>
<% for (const auto& tag : container.tags) { %>
<tr>
  <td><%= tag.groupName() %></td>
  <td><%== linkTo(tag.displayName(), url("tag", "show", QStringList({tag.groupName(), tag.name()}))) %></td>
</tr>
<% } %>
</table>

<p>
<a href="javascript:history.back();">[ 戻る ]</a>
&nbsp;
<a href="#">[ タグ修正 ]</a>
&nbsp;
<a href="#">[ マーキング修正 ]</a>
</p>
