<!DOCTYPE html>
<%#include "containers/datasetmakerpreviewcontainer.h" %>
<% tfetch(DatasetMakerPreviewContainer, container) %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
  <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
        $('input:checkbox#checkAll').on('click', function(e){
            $('input:checkbox[name*=includes]').prop('checked', $(this).prop('checked'));
        });
    });
  </script>
</head>
<body>

<% if (container.list.count() > 0) { %>
<%== formTag(urla("make"), Tf::Post) %>
<table rules="all" style="border: 1px;">
<tr>
    <th><%== checkBoxTag("checkAll", "", true, THtmlAttribute("id", "checkAll")) %></th>
    <th>ラベル名</th>
    <th>タグ</th>
    <th>数</th>
</tr>
<% for (const QVariant& v : container.list) {
    const QMap<QString, QVariant> m = v.toMap();
    const QString identifier = m["name"].toString();
    echo("<tr>");
    echo("<td>" + checkBoxTag("includes[" + identifier + "]", identifier, true) + "</td>");
    echo("<td>" + inputTextTag("labelNames[" + identifier + "]", identifier, THtmlAttribute("size", "50")) + "</td>");
    echo("<td>" + m["displayName"].toString() + "</td>");
    echo("<td style=\"text-align: right;\">" + QString::number(m["images"].toList().count()) + "</td>");
    echo("</tr>");
} %>
</table>
<p>
<fieldset>
<legend>作成オプション</legend>
<div>データセット名称: <input type="text" name="datasetName" value="<%= QDateTime::currentDateTime().toString("yyyyMMdd-hhmmss") %>" /></div>
<div>作成タイプ: <select name="layoutType"><option value="classification">分類用</option><option value="detection">物体検出用</option></select></div>
<div>画像サイズ: <input type="text" name="imageSize[w]" value="300" size="4" /> x <input type="text" name="imageSize[h]" value="300" size="4" /></div>
<div>出力形式: <select name="archiveType"><option value="compress">圧縮（tar.gz）としてダウンロード</option><option value="database">データベース（lmdb）として取り込み</option></select></div>
<div>データ水増し: <input type="text" name="augmentationRate" value="1" size="4" />倍</div>
<div>検証データ割合: <input type="text" name="validationRate" value="20" size="4" />%</div>
</fieldset>
</p>
<div style="width: 100%; text-align: right;"><%== submitTag("　作成　") %></div>
<%== endTag() %>
<% } else { %>
<h3>No images</h3>
<div>条件に一致する画像はありません</div>
<% } %>

<p><%== linkTo("<< 戻る", urla("index")) %></p>

</body>
</html>

