<%#include "containers/taginfocontainer.h" %>
<% tfetch(TagInfoContainer, container) %>
<%#include "logics/tagrepository.h" %>
<% const QList<TagGroup> allGroups = TagRepository().allGroups(); %>
  <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
        var allGroups = {
            <% for (const TagGroup& g : allGroups) {
                echo("\"" + g.name() + "\": [");
                for (const Tag& t : g.tags()) {
                    echo("\"" + t.name() + "\", ");
                }
                echo("], ");
            } %>
        };
        
        $('input:submit[name="change"]').click(function(e){
            e.preventDefault();
            var name = $('input:text[name="name"]').val();
            if (name.length < 1) {
                window.alert('タグIDは必須です');
                return false;
            }
            if (! name.match(/^[a-z0-9_\-]+$/)) {
                window.alert('タグIDは半角英数小文字で入力してください');
                return false;
            }
            var displayName = $('input:text[name="displayName"]').val();
            var groupName = $('select[name="group"] option:selected').val();
            var data = {
                target: '<%= container.name %>',
                targetGroup: '<%= container.groupName %>',
                change: { name: name, displayName: displayName, groupName: groupName }
            };
            if ((groupName != '<%= container.groupName %>') || (name != '<%= container.name %>') || (displayName != '<%= container.displayName %>')) {
                if (name != '<%= container.name %>') {
                    for (var gn in allGroups) {
                        if ($.inArray(name, allGroups[gn]) > -1) {
                            window.alert('タグID "' + name + '" は "' + gn + '" グループですでに使われています');
                            return false;
                        }
                    }
                }
                $.ajax({ type: 'post', url: '<%= urla("update") %>', data: JSON.stringify(data), contentType: 'application/json', scriptCharset: 'utf-8', success: function(data) {
                    if (data.result == 'success') {
                        window.location.href = '<%= urla("show") %>/' + groupName + '/' + name;
                    } else {
                        alert("error");
                    }
                }, error: function(data) {
                    alert(data.result);
                } });
            }
            return false;
        });
        $('input:submit[name="destroy"]').click(function(e){
            e.preventDefault();
            if (window.confirm("画像からタグが１つもなくなる可能性があります。この操作を実行しますか？")) {
                var data = { target: 'tag', group: '<%= container.groupName %>', name: '<%= container.name %>' };
                $.ajax({ type: 'post', url: '<%= urla("destroy") %>', data: JSON.stringify(data), contentType: 'application/json', scriptCharset: 'utf-8', success: function(data) {
                    window.location.href = '<%= urla("show", container.groupName) %>';
                }, error: function(data) {
                } });
            }
            return false;
        });
        
        $('input:submit[name=upload]').on('click', function(e){
            if ($('input:file[name^=files]').val().length < 1) {
              e.preventDefault();
              window.alert('アップロードするファイルを選択してください');
              return false;
            }
        });
    });
  </script>

<h2>タグ: <%= container.groupName %> &gg; <%= container.displayName %> の画像一覧</h2>

<p><%== linkTo("&lt;&lt; 一覧へ戻る", urla("show", container.groupName)) %></p>

<p>
<fieldset>
<legend>タグ名称の変更</legend>
<div>
<%== formTag(urla("update")) %>
<%== inputHiddenTag("target", container.name) %>
<%== inputHiddenTag("targetGroup", container.groupName) %>
<div>グループ: <select name="group"><% for (const auto& g : allGroups) { echo(optionTag(g.name(), g.name(), container.groupName == g.name())); } %></select></div>
<div>表示名: <%== inputTextTag("displayName", container.displayName, THtmlAttribute("placeholder", "(任意)")) %> (任意)</div>
<div>タグID: <%== inputTextTag("name", container.name, THtmlAttribute("placeholder", "(必須: 半角英数小文字)")) %> (必須: 半角英数小文字)</div>
<div><%== inputTag("submit", "change", "更新") %> <%== inputTag("submit", "destroy", "削除") %></div>
<%== endTag() %>
</div>
</fieldset>
</p>

<p>
<fieldset>
<legend>このタグにアップロード</legend>
<%== formTag(urla("upload"), Tf::Post, true) %>
<%== inputHiddenTag("group", container.groupName) %>
<%== inputHiddenTag("tag", container.name) %>
<%== inputHiddenTag("page", urla("show", {container.groupName, container.name})) %>
<div><label>ファイル: <%== inputFileTag("files[]", THtmlAttribute("multiple", "multiple") | THtmlAttribute("accept", ".zip,.tar,.gz,image/jpeg")) %></label> <span>（JPEG ファイルまたは zip, tar, tar.gz アーカイブファイル）</span></div>
<div><label>画像のトリミング: <select name="trimmingMode">
<option value="0">なし</option>
<option value="1">デフォルト</option>
<option value="2" selected>正方形</option>
</select></label></div>
<div><%== submitTag("アップロード", THtmlAttribute("name", "upload")) %></div>
<%== endTag() %>
</fieldset>
</p>

<%== renderPartial("thumbnails") %>

<p><%== linkTo("&lt;&lt; 一覧へ戻る", urla("show", container.groupName)) %></p>
