<%#include "taggroup.h" %>
<% tfetch(TagGroup, group) %>
<%#include "logics/tagrepository.h" %>
<% const QList<TagGroup> allGroups = TagRepository().allGroups(); %>
  <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
        var allGroups = {
            <% for (const TagGroup& g : allGroups) {
                echo("\"" + g.name() + "\": [");
                for (const Tag& t : g.tags()) {
                    echo("\"" + t.name() + "\", ");
                }
                echo("], ");
            } %>
        };

        $('input:submit[name="updateGroup"]').click(function(e){
            e.preventDefault();
            var error = '';
            var groupName = $('input:text[name="destinationName"]').val();
            if (groupName.length < 1) {
                error = 'グループ名は必須です';
            }
            if (groupName.match(/[\/\$\*\#\@\~\&\;\'\"\(\)\[\]\`\+\=\!]/)) {
                error = 'グループ名に記号は使えません';
            }
            if (error.length > 0) {
                window.alert(error);
                return false;
            }
            var data = {
                sourceName: $('input:hidden[name="sourceName"]').val(),
                destinationName: groupName
            };
            $.ajax({ type: 'post', url: '<%= urla("updateGroup") %>', data: JSON.stringify(data), contentType: 'application/json', scriptCharset: 'utf-8', success: function(response) {
                if (response.error) {
                    window.alert(response.error);
                }
                else {
                    window.location.href = '<%= urla("show") %>/' + groupName;
                }
            }, error: function(response) {
                alert('error');
            } });
            return false;
        });
        $('input:submit[name="destroyGroup"]').click(function(e){
            e.preventDefault();
            if (confirm("グループを削除します。含まれるタグも同時に削除されます。")) {
                var data = { target: 'group', name: $('input:hidden[name="sourceName"]').val() };
                $.ajax({ type: 'post', url: '<%= urla("destroy") %>', data: JSON.stringify(data), contentType: 'application/json', scriptCharset: 'utf-8', success: function(response) {
                    window.location.href = '<%= urla("index") %>';
                }, error: function(response) {
                    alert('error');
                } });
            }
            return false;
        });

      $('input:submit[name=create]').on('click', function(e){
            var error = '';
            var tagId = $('input:text[name=tagId]').val();
            if (tagId.length < 1) {
                error = 'タグIDは必須です';
            } else if (! tagId.match(/^[a-z0-9_\-]+$/)) {
                error = 'タグIDには半角英数小文字のみ使えます';
            } else {
                for (var groupName in allGroups) {
                    if ($.inArray(tagId, allGroups[groupName]) > -1) {
                        error = 'タグID "' + tagId + '" は "' + groupName + '" グループですでに使われています';
                        break;
                    }
                }
            }

            if (error.length > 0) {
                e.preventDefault();
                window.alert(error);
                return false;
            }
      });
    });
  </script>

<h2>グループ: <%= group.name() %> のタグ一覧</h2>

<p><%== linkTo("<< 戻る", urla("index")) %></p>

<fieldset>
<legend>グループ名称の変更</legend>
<%== formTag(urla("updateGroup"), Tf::Post) %>
<input type="hidden" name="sourceName" value="<%= group.name() %>" />
<div>
    <input type="text" name="destinationName" value="<%= group.name() %>" />
    <input type="submit" name="updateGroup" value="更新" />
    <input type="submit" name="destroyGroup" value="削除" />
</div>
<%== endTag("form") %>
</fieldset>

<fieldset>
<legend>新規タグ</legend>
<div>
<%== formTag(urla("create")) %>
<input type="hidden" name="target" value="tag" />
<input type="hidden" name="parentGroup" value="<%= group.name() %>" />
<input type="hidden" name="backToURL" value="<%= urla("show", group.name()) %>" />
<div>表示名: <%== inputTextTag("tagDisplayName", "", THtmlAttribute("placeholder", "（任意）")) %> （任意）</div>
<div>タグID: <%== inputTextTag("tagId", "", THtmlAttribute("placeholder", "（必須: 半角英数小文字）")) %> （必須: 半角英数小文字）</div>
<div><%== inputTag("submit", "create", "　新規タグ作成　") %></div>
<%== endTag() %>
</div>
</fieldset>

<ul>
<% for (const Tag& t : group.tags()) { %>
<li><%== linkTo(t.displayName(), urla("show", { group.name(), t.name() })) %> (<%= t.countOfImages() %>)</li>
<% } %>
</ul>

<p><%== linkTo("<< 戻る", urla("index")) %></p>
