<!DOCTYPE html>
<%#include "workspace.h" %>
<% tfetch(QVariantMap, workspace); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Workspace</h1>

<%== formTag(urla("save", workspace["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="workspace[id]" value="<%= workspace["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Solver Proto ID<br /><input type="text" name="workspace[solverProtoId]" value="<%= workspace["solverProtoId"] %>" /></label>
  </p>
  <p>
    <label>Neural Net ID<br /><input type="text" name="workspace[neuralNetId]" value="<%= workspace["neuralNetId"] %>" /></label>
  </p>
  <p>
    <label>Log Path<br /><input type="text" name="workspace[logPath]" value="<%= workspace["logPath"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", workspace["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
