<%#include "workspace.h" %>
<% tfetch(QVariantMap, workspace); %>

<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Workspace</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Solver Proto ID<br /><input name="workspace[solverProtoId]" value="<%= workspace["solverProtoId"] %>" /></label>
  </p>
  <p>
    <label>Neural Net ID<br /><input name="workspace[neuralNetId]" value="<%= workspace["neuralNetId"] %>" /></label>
  </p>
  <p>
    <label>Log Path<br /><input name="workspace[logPath]" value="<%= workspace["logPath"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>
