<!DOCTYPE html>
<%#include "containers/trainclassifycontainer.h" %>
<% tfetch(TrainClassifyContainer, container); %>
<% const auto &caffeModel = container.caffeModel; %>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= controller()->name() + ": " + controller()->activeAction() %></title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<style>
#drop_zone {
    width: 50%;
    border: 2px dashed #bbb;
    /*  -moz-border-radius: 5px; */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 5px;
    text-align: center;
    font: bold 1.0em/1.8em 'Vollkorn';
    color: #999;
    min-height: 90px;
}
.zoom {
    -webkit-transform: scale(2.0);
    -moz-transform: scale(2.0);
    -o-transform: scale(2.0);
    -ms-transform: scale(2.0);
    transform: scale(2.0);
}
</style>
<script>
var dsup = {};

dsup.zoomImage = function() {
    // イメージ拡大
    $('img').hover(function(e) {
        $(this).addClass('zoom');
    }, function(e) {
        $(this).removeClass('zoom');
    });
};

// POST
//dsup.post = function(blob, filename, mimetype) {
dsup.post = function(files) {
    var formData = new FormData(document.getElementById("form1"));
    for (var i = 0; i < files.length; i++) {
        formData.append("imageFile[]", files[i], files[i].name);
    }

    $.post({
        type: "POST",
        url: "/Train/classify/<%= caffeModel.id() %>",
        data: formData,
        processData: false,
        contentType: false,
        success: function(msg) {
            ;;; console.log("POST success : " + msg);
            // レスポンスで書き換え
            $("#result").html($(msg).find('#result').html());
            // イメージ拡大セット
            dsup.zoomImage();
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            ;;; console.log("POST error");
            ;;; console.log(XMLHttpRequest.status);
            ;;; console.log(textStatus);
            ;;; console.log(errorThrown.message);
        },
        complete: function(data) {
            ;;; console.log("POST completed");
        }
    });
};

// 送信準備
dsup.sendRequest = function(files) {
    dsup.blobToSend = null;
    if (files == null || files.length == 0) {
        return;
    }

    if (files[0].size == 0) {
        alert("ファイルが読み込めません");
        return;
    }

    if (files.length > 0) {
        dsup.post(files);
    }
};

// 初期化
$(function(){
     // ドラッグオーバ
    $('#drop_zone').on('dragover', function(ev) {
        var evt = ev.originalEvent;
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    });

    //　ドロップ
    $('#drop_zone').on('drop', function(ev){
        $(this).blur();
        var evt = ev.originalEvent;
        evt.stopPropagation();
        evt.preventDefault();
        dsup.sendRequest(evt.dataTransfer.files);
    });

    dsup.zoomImage();
});
</script>
</head>
<body>
<div style="min-width: 1000px; max-width: 1300px; margin: 0 auto;">
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>病変分類</h1>

<%== formTag(urla("classify", caffeModel.id() ), Tf::Post, true, a("id", "form1")) %>
  <div id="drop_zone"><span id="msg_drag"><i class="fa fa-files-o"></i>　Drag files here<br>or<br></span><i class="fa fa-folder-open-o"></i>　Click to choose file to send</div>
  <p>
    <label>アップロード画像ファイル: <input name="imageFile[]" id="imageFile[]" value="" type="file" /></label>
  </p>
  <p>
    <label>画像ディレクトリ:<input type="text" name="imageDir" id="imageDir" value=""/></label>
    &nbsp;
    <label>AUC for indexes:<input type="text" name="aucIndexes" id="aucIndexes" value=""/></label>
  </p>
  <p>
    <label for="trainedModel">Select a trained model<br />
      <select name="trainedModel" size=4>
      <%== optionTags(caffeModel.trainedModelFiles()); %>
      </select>
    </label>
    <input type="submit" value="Classify" />
  </p>
</form>
<br>
<div id="result" style="width: 100%;">
  <% for (int i=0; i < container.jpegBinList.count(); ++i) { %>
  <div style="display: inline-block; padding: 4px;">
    <div>
      <%== inlineImageTag(container.jpegBinList[i], "image/jpeg", a("style", "width:200px")); %>
    </div>
    <p>
      <% for (int j = 0; j < container.predictionsList[i].count(); j++) {
        auto &pred = container.predictionsList[i][j];
        QString str = QString("#%1 score:%2 : %3").arg(j+1).arg(pred.second, 0, 'f', 3).arg(pred.first);
        eh(str);
        echo("<br>");
      }
      %>
    </p>
  </div>
  <% } %>
</div>

<br>
<hr>
<h3>モデル情報</h3>
<dt>ID</dt><dd><%= caffeModel.id()  %></dd><br />
<dt>Deploy prototxt</dt><dd><%= caffeModel.deployFile() %></dd><br />

</div>
</body>
</html>
