<!DOCTYPE html>
<%#include "dataset.h" %>
<% tfetch(QVariantMap, dataset); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Dataset</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Db Path<br /><input name="dataset[dbPath]" value="<%= dataset["dbPath"] %>" /></label>
  </p>
  <p>
    <label>Db Type<br /><input name="dataset[dbType]" value="<%= dataset["dbType"] %>" /></label>
  </p>
  <p>
    <label>Mean Path<br /><input name="dataset[meanPath]" value="<%= dataset["meanPath"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
