<!DOCTYPE html>
<%#include "dataset.h" %>
<% tfetch(Dataset, dataset); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Dataset</h1>
<dt>Image Width</dt><dd><%= dataset.imageWidth() %></dd><br />
<dt>Image Height</dt><dd><%= dataset.imageHeight() %></dd><br />
<dt>Mean File</dt><dd><%= dataset.meanFile() %></dd><br />
<dt>Label File</dt><dd><%= dataset.labelFile() %></dd><br />
<dt>Train Db Path</dt><dd><%= dataset.trainDbPath() %></dd><br />
<dt>Val Db Path</dt><dd><%= dataset.valDbPath() %></dd><br />
<dt>Log File</dt><dd><%= dataset.logFile() %></dd><br />
<dt>ID</dt><dd><%= dataset.id() %></dd><br />

<%== linkTo("Edit", urla("save", dataset.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
