<!DOCTYPE html>
<%#include "neuralnetwork.h" %>
<% tfetch(QVariantMap, neuralNetwork); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Neural Network</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Layers<br /><input name="neuralNetwork[layers]" value="<%= neuralNetwork["layers"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
