<!DOCTYPE html>
<%#include "caffecontext.h" %>
<% tfetch(QVariantMap, caffeContext); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Caffe Context</h1>

<%== formTag(urla("save", caffeContext["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="caffeContext[id]" value="<%= caffeContext["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Solver Proto ID<br /><input type="text" name="caffeContext[solverProtoId]" value="<%= caffeContext["solverProtoId"] %>" /></label>
  </p>
  <p>
    <label>Neural Net ID<br /><input type="text" name="caffeContext[neuralNetId]" value="<%= caffeContext["neuralNetId"] %>" /></label>
  </p>
  <p>
    <label>Caffe Pid<br /><input type="text" name="caffeContext[caffePid]" value="<%= caffeContext["caffePid"] %>" /></label>
  </p>
  <p>
    <label>Topic<br /><input type="text" name="caffeContext[topic]" value="<%= caffeContext["topic"] %>" /></label>
  </p>
  <p>
    <label>Log Path<br /><input type="text" name="caffeContext[logPath]" value="<%= caffeContext["logPath"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", caffeContext["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
