<!DOCTYPE html>
<%#include "caffetrainedmodel.h" %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Caffe Trained Model</h1>
<%== linkTo("Commands", url("index")) %><br />
<%== linkTo("New entry", urla("create")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>Model Path</th>
    <th>Neural Network Name</th>
    <th>Epoch</th>
    <th>Dataset ID</th>
    <th>Img Width</th>
    <th>Img Height</th>
    <th>Note</th>
  </tr>
<% tfetch(QList<CaffeTrainedModel>, caffeTrainedModelList); %>
<% for (const auto &i : caffeTrainedModelList) { %>
  <tr>
    <td><%= i.id() %></td>
    <td><%= QFileInfo(i.modelPath()).fileName() %></td>
    <td><%= i.neuralNetworkName() %></td>
    <td><%= i.epoch() %></td>
    <td><%= i.datasetId() %></td>
    <td><%= i.imgWidth() %></td>
    <td><%= i.imgHeight() %></td>
    <td><%= i.note() %></td>
    <td>
      <%== linkTo("Predict", urla("predict", i.id())) %>
      <%== linkTo("Show", urla("show", i.id())) %>
      <%== linkTo("Edit", urla("save", i.id())) %>
      <%== linkTo("Remove", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
