<!DOCTYPE html>
<%#include "caffetrainedmodel.h" %>
<% tfetch(CaffeTrainedModel, caffeTrainedModel); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>推論実行</h1>

<%== formTag(urla("predict", caffeTrainedModel.id()), Tf::Post, true) %>
  どちらか一方を入力してください。
  <p>
      <label>アップロード画像ファイル: <input name="imageFile" value="" type="file" /></label>
  </p>
  <p>
      <label>サーバサイド 画像ディレクトリ: <input name="imageDir" value="" /></label>
  </p>
  <input type="submit" value="Predict" />
</form>
<br>
<br>
<hr>
<h3>学習済モデル</h3>
<dt>ID</dt><dd><%= caffeTrainedModel.id() %></dd><br />
<dt>Model Path</dt><dd><%= caffeTrainedModel.modelPath() %></dd><br />
<dt>Neural Network Name</dt><dd><%= caffeTrainedModel.neuralNetworkName() %></dd><br />
<dt>Epoch</dt><dd><%= caffeTrainedModel.epoch() %></dd><br />
<dt>Data Set ID</dt><dd><%= caffeTrainedModel.datasetId() %></dd><br />
<dt>Img Width</dt><dd><%= caffeTrainedModel.imgWidth() %></dd><br />
<dt>Img Height</dt><dd><%= caffeTrainedModel.imgHeight() %></dd><br />
<dt>Updated at</dt><dd><%= caffeTrainedModel.updatedAt() %></dd><br />
<dt>Lock Revision</dt><dd><%= caffeTrainedModel.lockRevision() %></dd><br />

</body>
</html>
