<%#include "caffetrainedmodel.h" %>
<% tfetch(QVariantMap, caffeTrainedModel); %>

<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Caffe Trained Model</h1>

<%== formTag(urla("save", caffeTrainedModel["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="caffeTrainedModel[id]" value="<%= caffeTrainedModel["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Model Path<br /><input type="text" name="caffeTrainedModel[modelPath]" value="<%= caffeTrainedModel["modelPath"] %>" /></label>
  </p>
  <p>
    <label>Neural Network Name<br /><input type="text" name="caffeTrainedModel[neuralNetworkName]" value="<%= caffeTrainedModel["neuralNetworkName"] %>" /></label>
  </p>
  <p>
    <label>Epoch<br /><input type="text" name="caffeTrainedModel[epoch]" value="<%= caffeTrainedModel["epoch"] %>" /></label>
  </p>
  <p>
    <label>Data Set ID<br /><input type="text" name="caffeTrainedModel[datasetId]" value="<%= caffeTrainedModel["datasetId"] %>" /></label>
  </p>
  <p>
    <label>Img Width<br /><input type="text" name="caffeTrainedModel[imgWidth]" value="<%= caffeTrainedModel["imgWidth"] %>" /></label>
  </p>
  <p>
    <label>Img Height<br /><input type="text" name="caffeTrainedModel[imgHeight]" value="<%= caffeTrainedModel["imgHeight"] %>" /></label>
  </p>
  <p>
    <label>Note<br /><input type="text" name="caffeTrainedModel[note]" value="<%= caffeTrainedModel["note"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", caffeTrainedModel["id"])) %> |
<%== linkTo("Back", urla("index")) %>
